<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <h1 class="navbar-brand">Weather App</h1>
  <button 
    (click)="onToggleCollapse()" 
    class="navbar-toggler" 
    type="button" 
    data-toggle="collapse" 
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" 
    aria-expanded="false" 
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [class.show]="navStatus" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let city of cities" [ngClass]="{'active': selectedCity === city}" class="nav-item">
        <p (click)="displayCityValues(city)" class="nav-link mt-3">{{ city }}</p>
      </li>
    </ul>
  </div>
</nav>