.weather {
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.5;
	position: relative;
	min-height: 100vh;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(blue, lighten(red, 10%), red);
		opacity: .5; 
		z-index: 1;
	}

	.content-row {
		width: 100%;
		top: 25%;
		position: absolute;
		z-index: 1000;
		color: #fff;
		padding: 1em;
	}
}